:root {
    --clr-neon: hsl(213 100% 85%);
    --property_hidden: hidden;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    color: #444;
    line-height: 1.9;
    background-color: #fcfcfc;
    /* overflow-x: hidden; */
}

button {
    border: none;
    font-family: "Encode Sans SC", sans-serif;
    transition: 0.5s;
}

button:hover {
    cursor: pointer;
}

.header {
    padding: 0 3rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Encode Sans SC", sans-serif;
    /* width: 100%; */
    padding: 0 4rem;
    background-color: #ffffff5b;
    z-index: 100;
    overflow: hidden;
}

aside {
    position: fixed;
    height: 0vh;
    overflow: hidden;
    right: 0;
    top: 0;
    display: none;
    background-color: #fcfcfc00;
    transition: 0.5s;
    z-index: 100;
}

.table_icon {
    width: 30px;
    display: none;
}

.empty:before {
    content: "";
    display: block;
    position: absolute;
    border-radius: 90% 80%;
    border-top: 5px solid rgba(127, 167, 241, 0.315);
    width: 600px;
    height: 80px;
    background-color: white;
    right: 5px;
    top: 50px;
    z-index: -1;
}


/* .nav.sticky {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.95);
} */

.nav_logo {
    height: 4.5rem;
    transition: all 0.3s;
}

.nav_links {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
}

.nav_link:first-child {
    text-decoration: underline;
}

.nav_link {
    width: 40px;
    text-align: center;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
    color: rgb(10, 10, 10);
    transition: all 0.3s ease-out;
}

.nav_link:hover {
    color: rgba(131, 126, 126, 0.479);
    text-shadow: 0px 15px 10px rgba(0, 0, 0, 0.384);
}

.nav_link:after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em var(--clr-neon);
    opacity: 0;
    background-color: var(--clr-neon);
    z-index: 1;
    transition: opacity 500ms linear;
    height: 100%;
    width: 20px;
}

.nav_link:hover {
    transition: 0.5s;
}

.nav_link:hover::before,
.nav_link:focus::before,
.nav_link:hover::after,
.nav_link:focus::after {
    opacity: 1;
}

.decription {
    background-image: url("/common-portfolio/img/paint.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 0;
    padding: 13rem 0rem 5rem 6rem;
    margin-top: 50px;
    min-width: 300px;
}

.container {
    transform: translateX(50px);
    transition: 1s;
    background-color: #fcfcfc2d;
    width: clamp(60%, 70%, 80%);
    padding: 2px;
    border-radius: 3px;
}

h1 {
    font-size: 2.3rem;
}

ul {
    list-style: inside circle;
}

li {
    margin-top: 3px;
    padding-left: 10px;
    background-color: rgba(255, 255, 255, 0);
}

li:hover {
    background-color: rgba(255, 255, 255, 0.733);
}

.feature_card {
    display: flex;
    align-items: center;
    padding: 30px;
    margin: 60px;
    border: 4px dashed rgba(73, 72, 72, 0.219);
}

.feature_card-dec {
    margin-left: 90px;
    display: flex;
    flex-direction: column;
}

.feature_card-dec-btn {
    padding: 10px;
    background-color: rgb(179, 206, 206);
    margin-top: 20px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0);
    width: 100%;
}

.feature_card-dec-btn:hover {
    transform: translateX(-10px);
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.267);
    background-color: #fdd247;
    transition: 0.5s;
    color: white;
    border: 1px solid white;
}

p {
    font-size: 0.9rem;
    min-width: 200px;
}

footer {
    background-color: rgba(68, 68, 68, 0.658);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.footer_links a {
    color: rgb(23, 23, 24);
}

.footer_links a:hover {
    color: rgb(77, 77, 80);
}

@media screen and (max-width: 950px) {
    .feature_card {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px;
        margin: 60px;
    }
    .feature_card-dec {
        margin: 0;
    }
}

@media screen and (max-width: 635px) {
    .decription {
        padding: 30px;
    }
    nav {
        justify-content: center;
    }
    aside {
        display: block;
        background-color: #fcfcfc00;
        padding: 1rem 0.2rem 1rem 0rem;
        transition: 0.5s;
    }
    aside:hover {
        height: 100vh;
        padding: 2rem;
        background-color: #fcfcfc;
    }
    .table_icon {
        margin: -10px 20px 30px 20px;
        display: block;
    }
    .nav_links {
        display: none;
    }
    .nav_links-aside {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        transition: 0.5s;
    }
}

@media screen and (max-width: 580px) {
    .feature_card {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px;
        margin: 10px;
    }
}

@media screen and (max-width: 478px) {
    .decription {
        padding: 0px;
        color: black;
    }
    h1 {
        font-size: 1.6rem;
    }
    .feature_card-dec {
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .feature_card-img img {
        width: 200px;
    }
    .feature_card-dec-btn {
        width: 60%;
    }
}

@media screen and (max-width: 424px) {
    .decription {
        padding: 0px;
        font-size: 10px;
        color: black;
        min-width: 200px;
    }
}

@media screen and (max-width: 307px) {
    .decription {
        padding: 180px 0 0 0;
        font-size: 10px;
        color: black;
    }
    .feature_card {
        border: none;
    }
}