html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    color: #444;
    line-height: 1.9;
    background-color: #f3f3f3;
}

.header {
    padding: 0 3rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9rem;
    /* width: 100%; */
    padding: 0 6rem;
    background-color: #bde4c469;
    z-index: 100;
}

.nav.sticky {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.95);
}

.nav__logo {
    height: 4.5rem;
    transition: all 0.3s;
}

.nav__links {
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 1.7rem;
    font-weight: 400;
    text-align: center;
    list-style: none;
}

.nav a {
    text-decoration: none;
    transition: color 0.2s ease-out;
    background-image: linear-gradient( rgba(252, 252, 252, 0.747), rgb(19, 38, 207)), none;
    background-size: 0 2px, auto;
    color: rgb(91, 164, 228);
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: all 0.3s ease-out;
}

.nav a:hover {
    color: rgb(34, 69, 221);
    background-size: 100% 2px, auto;
}

.nav__item {
    margin-left: 4rem;
}

.nav__link--btn {
    border: none;
    border-radius: 3rem;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1.5rem;
    background-color: rgb(91, 164, 228);
    background-image: linear-gradient( rgba(252, 252, 252, 0.747), rgba(233, 59, 59, 0.589), none);
    background-size: 0 2px, auto;
    color: aliceblue;
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: all 0.3s ease-out;
}

.nav__link--btn:hover {
    color: rgb(34, 69, 221);
    background-color: white;
    background-size: 100% 2px, auto;
}