@import url("https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@100;300;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Anek Malayalam", sans-serif;
  transition: 0.5s;
  position: relative;
}

h1,
h2,
h3 {
  text-align: center;
}

button {
  border: none;
  outline: none;
  padding: 5px 20px;
}

input {
  border-radius: 1px;
  border: 1px solid rgba(55, 55, 55, 0.399);
  padding: 4px;
  width: 200px;
}

input::placeholder {
  color: rgba(54, 55, 55, 0.44);
  text-align: center;
}

input:focus {
  outline: 1px solid rgba(155, 152, 152, 0.407);
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
  background-color: rgb(199, 196, 196);
  transition: 0.4s;
}

.main_container {
  margin: 20px auto;
  padding: 15px;
  height: max-content;
  max-width: 600px;
  border: 1px solid rgba(0, 0, 0, 0.304);
}

.main_container:hover {
  border-radius: 5px;
}

.parent_container {
  max-width: 400px;
  margin: auto;
}

.parent_container > * {
  margin: 6px 0px;
}

.query_box {
  display: flex;
  padding: 5px;
  height: 40px;
  justify-content: space-between;
}

.indicator {
  aspect-ratio: 1/1;
  width: 20px;
  background-color: rgba(255, 0, 0, 0.675);
  border-radius: 20px;
  position: absolute;
  right: -20px;
  top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
}

.upper_q {
  height: 7px;
  width: 2px;
  background-color: white;
  margin-bottom: 2px;
}

.lower_q {
  height: 2px;
  width: 2px;
  border-radius: 5px;
  background-color: white;
}

.query_box:hover {
  background-color: rgba(151, 151, 152, 0.386);
}

#select_birthdate {
  color: rgba(54, 55, 55, 0.44);
  text-align: center;
}

#select_birthdate:focus {
  color: black;
}

.navigation {
  position: relative;
}

.login {
  position: absolute;
  right: 10px;
  left: 80%;
}

.register {
  position: absolute;
  left: 10px;
  right: 80%;
}

.inner_container_register {
  display: none;
  opacity: 0;
}

@media screen and (max-width: 613px) {
  .query_box {
    flex-direction: column;
    height: 60px;
    justify-content: center;
  }

  input {
    width: 100%;
  }

  .indicator {
    top: 32px;
  }
}
