* {
  margin: 0;
  padding-left: 0;
  transition: 0.5s;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  background-color: #f3f3f3;
}

.header {
  padding: 0 3rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: max-content;
  right: 0;
  padding: 1rem 3rem;
  background-color: #9ba59d69;
  z-index: 100;
}

hovertoextend {
  position: absolute;
  left: 0;
  display: none;
}

.nav_aside_links > * {
  margin: 1rem;
}

.nav__logo {
  height: 2rem;
  transition: all 0.3s;
}

.nav__links {
  display: flex;
  align-items: center;
  text-align: center;
  position: relative;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}

.nav a {
  text-decoration: none;
  transition: color 0.2s ease-out;
  background-image: linear-gradient(rgba(252, 252, 252, 0.747), rgb(18, 18, 18)),
    none;
  background-size: 0 2px, auto;
  color: rgb(0, 0, 0);
  background-repeat: no-repeat;
  background-position: center bottom;
  transition: all 0.3s ease-out;
}

.nav a:hover {
  color: rgb(114, 114, 115);
  background-size: 100% 2px, auto;
}

.nav__item {
  padding: 4px 20px;
}

.nav__link--btn {
  border: none;
  border-radius: 3rem;
  padding: 10px 20px;
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  background-image: linear-gradient(
    rgba(252, 252, 252, 0.747),
    rgba(2, 2, 2, 0.589),
    none
  );
  background-size: 0 2px, auto;
  color: rgb(248, 248, 248);
  background-repeat: no-repeat;
  background-position: center bottom;
  transition: all 0.3s ease-out;
}

.nav__link--btn:hover {
  color: rgb(4, 4, 4);
  background-color: rgb(255, 255, 255);
  background-size: 100% 2px, auto;
}

@media screen and (max-width: 651px) {
  .nav__links {
    position: absolute;
    flex-direction: column;
    top: 0;
    right: -140px;
  }

  hovertoextend {
    padding: 10px 38px;
    left: -90px;
    top: 10px;
    display: block;
  }

  .nav__links:hover {
    right: 0px;
    top: 10px;
    padding: 40px 20px 10px;
  }

  .nav__links:hover hovertoextend {
    left: 25px;
  }
}
