@import url("https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@100;300;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Anek Malayalam", sans-serif;
  transition: 0.5s;
  position: relative;
}

body {
  overflow: hidden;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: url("./main.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

h1,
h2,
h3 {
  text-align: center;
  font-weight: 400;
}

h1:hover {
  background-color: #6f452b97;
}

button {
  border: none;
  outline: none;
  padding: 5px 20px;
  text-align: center;
  min-width: 100px;
  color: black;
  border-radius: 20px;
}

input,
#catag {
  border-radius: 1px;
  border: 1px solid rgba(55, 55, 55, 0.399);
  padding: 4px;
  width: 200px;
  outline: none;
  color: black;
}

label {
  font-weight: 300;
}

input::placeholder,
#catag {
  color: rgba(54, 55, 55, 0.44);
  text-align: center;
}

input:focus,
#catag:focus {
  outline: 1px solid rgba(155, 152, 152, 0.407);
  border-radius: 5px;
  color: black;
}

button:hover {
  cursor: pointer;
  background-color: rgb(232, 152, 41);
  transition: 0.4s;
}

.main_container {
  margin: 20px auto;
  padding: 15px;
  height: max-content;
  max-width: 600px;
  border: 1px solid rgba(0, 0, 0, 0.304);
  /* background-color: rgb(47, 180, 100); */
}

.main_container:hover {
  border-radius: 5px;
  background-color: rgba(123, 118, 118, 0.374);
}

.parent_container {
  max-width: 400px;
  margin: auto;
}

.parent_container > * {
  margin: 6px 0px;
}

.query_box {
  display: flex;
  padding: 5px;
  min-width: 300px;
  height: 50px;
  justify-content: space-between;
  /* background-color: rgb(47, 180, 100); */
}

.indicator {
  aspect-ratio: 1/1;
  width: 20px;
  background-color: rgba(255, 0, 0, 0.675);
  border-radius: 20px;
  position: absolute;
  right: -20px;
  top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
  pointer-events: none;
}

.upper_q {
  height: 7px;
  width: 2px;
  background-color: white;
  margin-bottom: 2px;
}

.lower_q {
  height: 2px;
  width: 2px;
  border-radius: 5px;
  background-color: white;
}

.floating_indicator_message {
  max-width: 200px;
  width: max-content;
  height: max-content;
  position: absolute;
  background-color: rgba(240, 76, 76, 0.495);
  right: -129px;
  font-size: 13px;
  font-weight: 300;
  opacity: 0;
  border-radius: 5px;
  padding: 4px;
}

.indicator:hover ~ .floating_indicator_message {
  opacity: 1;
}

.query_box:hover {
  background-color: rgba(239, 179, 40, 0.258);
}

.navigation:hover {
  background-color: rgba(0, 0, 0, 0);
}

#select_birthdate {
  color: rgba(54, 55, 55, 0.44);
  text-align: center;
}

#select_birthdate:focus {
  color: black;
}

.navigation {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  height: max-content;
}

.navigation > * {
  width: 30%;
  position: relative;
  padding: 5px;
  height: 40px;
  display: flex;
  justify-content: center;
}

.navigation > *:hover {
  background-color: rgba(123, 145, 145, 0.321);
}

.p1 {
  transform: translateY(0px);
}

.p2 {
  transform: translateY(320px);
}

.inner_container_register {
  display: none;
  opacity: 0;
}

.info_box {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: max-content;
  text-align: center;
  z-index: 100;
  font-weight: 300;
  opacity: 0;
}

.user_page {
  width: 100vw;
  opacity: 0;
  height: 100vh;
  position: absolute;
  background-color: rgb(215, 218, 218);
  transform: translateX(100%);
  top: 20px;
  text-align: center;
  color: black;
  background-image: url("./bg2.jpg");
  background-position: center;
  background-size: cover;
  overflow-y: auto;
}

.user_page_content {
  background-color: rgb(206, 213, 213);
  /* border: 1px solid; */
  overflow: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2px;
  background-color: rgba(53, 154, 221, 0.158);
}

.user_content_container {
  overflow: auto;
  display: grid;
  height: auto;
  max-height: 350px;
  margin: 1px;
  gap: 2px;
  grid-template-columns: auto auto auto;
}

.table,
table {
  width: 100%;
  border-collapse: collapse;
  border: none;
}

table,
th,
td {
  /* border-bottom: 1px solid black; */
  padding: 5px;
  font-size: 8px;
  background-color: rgba(140, 235, 235, 0.153);
}

tr:hover {
  background-color: rgb(229, 136, 136);
  cursor: pointer;
}

.manipulation_box,
.info_box {
  background-color: white;
  padding: 10px;
  color: black;
}

.query_manipulation_box {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.212);
  opacity: 0;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(-100%);
}

.add {
  display: none;
}

.add_row {
  display: none;
}

.register_text {
  text-align: center;
}

.h_t {
  text-decoration: underline;
  color: white;
}

.h_t:hover {
  cursor: pointer;
  color: rgba(33, 180, 234, 0.893);
}

.user_page button {
  margin: 5px 0;
}

.user_header {
  padding: 10px 0 10px 0;
}

.user_info {
  background-color: rgba(255, 255, 255, 0);
  padding: 5px;
}

.user_info input {
  border: none;
  background-color: rgba(240, 248, 255, 0);
  pointer-events: none;
}

.user_info label {
  padding: 8px 0 0 0;
}

.user_info .query_box {
  justify-content: space-around;
}

.user_info .query_box:hover {
  background-color: rgba(201, 203, 204, 0.712);
}

.field_container_user {
  background-color: rgba(255, 255, 255, 0.499);
}

.manipulation_btns {
  justify-content: space-around;
}

label {
  padding: 8px 0;
}

@media screen and (max-width: 613px) {
  .query_box {
    flex-direction: column;
    height: 60px;
    justify-content: center;
  }

  input,
  #catag {
    width: 100%;
    min-height: 35px;
  }

  .p1 {
    margin-top: 20px;
  }

  .indicator {
    top: 32px;
    right: 8px;
  }

  .floating_indicator_message {
    right: 0;
    bottom: 60%;
  }
}
