.movie {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.movie:hover {
  cursor: pointer;
  background-color: rgba(174, 176, 179, 0.486);
}

.movie_img {
  width: 200px;
  height: 250px;
  margin-bottom: 20px;
}
